.container{
    font-size: large;
    justify-content: center;
    text-align: center;
position: relative;
display: flexbox;
background: #fff;
height: 200px;
width: 500px;
left: 540px;
border-radius: 10%;
background: linear-gradient(to right, #f9f9f9, #e2e3e3);
}




body {

    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
